@import "style.css";

@media all and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .menu {
        float: none;
        margin: 0 auto;
    }
    .content {
        margin: 0;
    }
}

@media all and (max-width: 470px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .menu {
        float: none;
        margin: 0 auto;
    }
    .content {
        margin: 0;
        background: url('images/wall_t15b85.png');
    }
    .content img {
        margin: 0 auto;
        display: block;
        float: none;
    }
}