.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.header {
    background-color: #a2d9e7;
    text-align: center;
    color: blue;
    padding: 12px;
}

.container {
    background: url('../16_MaketDiv/images/wall_y15b85.png');
}

.menu {
    width: 200px;
    float: left;
    padding-left: 22px;
}

.menu ul {
    list-style: disc;
    padding-left: 18px;
}

.content {
    margin-left: 220px;
    padding: 22px;
    background: url('images/ball (1).png') repeat-y right top, url('images/wall_t15b85.png');
}

.content h3 {
    margin-top: 0;
    text-align: center;
}

.content img {
    float: left;
    margin-right: 20px;
}

.footer {
    background-color: #a2d9e7;
    text-align: center;
    color: blue;
    padding: 20px;
}