.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.title {
    width: 200px;
    display: inline-block;
}

.radio {
    display: inline-block;
}

.articleTitle {
    float: left;
}

.articleInput {
    margin-left: 204px;
}

textarea, input[type="text"] {
    width: 100%;
}